<h2>Edit Deck</h2>

<%= render "form.html", Map.put(assigns, :action, deck_path(@conn, :update, @user, @deck)) %>

<%= render "add_card_form.html", cards: @cards %>

<div class="deck-cards-container">
  <%= for card <- @deck_cards do %>
    <div class="deck-card-container">
      <a href="<%= card_path(@conn, :show, @user, card)%>" class="deck-card-image">
        <img src="<%= card.small_image_uri %>" class="image-index-image" />
      </a>
      <img src="<%= static_path(@conn, "/images/delete-icon-red-24x24.png") %>" class="delete-icon card-<%= card.id %>"/>
    </div>
  <% end %>
</div>

<div>
  <span><%= link "Back", to: deck_path(@conn, :index, @user) %></span>
</div>
