.jumbotron {
    color: $gray-light;
}

.navbar-header {
  display: inline-block;
  float: right;
}

.card-container {
  clear: both;
  margin-top: 1em;

  .image-container {
    display: inline-block;
  }

  .info-container {
    display: inline-block;
    width: 45%;
  }
}

.card-back {
  float: right;
}

.card-title {
  display: inline;
}

.cards-header-title {
  display: inline-block;
}

.btn-new-card {
  float: right;
}
