<div class="cards-header">
  <h2 class="cards-header-title">My Cards</h2>
  <span><%= link "New Card", to: card_path(@conn, :new, @user), class: "btn-new-card btn btn-default btn-primary" %></span>
</div>

<table class="my-cards-table table">
  <thead>
    <tr class="my-cards-header-row">
      <th>Name</th>
      <th>Colors</th>
      <th>Type</th>
      <th>Mana Cost</th>
      <th>Rarity</th>
      <th>Set Name</th>
      <th>Number Owned</th>
      <th>Number Wanted</th>
      <th>Power</th>
      <th>Toughness</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for card <- @cards do %>
    <tr class="<%= getRowColor(card.colors, card.name) %>">
      <td><%= link card.name, to: card_path(@conn, :show, @user, card) %></td>
      <td><%= card.colors %></td>
      <td><%= card.type %></td>
      <td><%= card.mana_cost %></td>
      <td><%= card.rarity %></td>
      <td><%= card.set_name %></td>
      <td><%= card.number_owned %></td>
      <td><%= card.number_wanted %></td>
      <td><%= card.power %></td>
      <td><%= card.toughness %></td>

      <td class="card-actions text-right">
        <a href="<%= card_path(@conn, :edit, @user, card) %>" >
            <img src="<%= static_path(@conn, "/images/edit-icon.png") %>"/>
        </a>
        <a href="<%= card_path(@conn, :delete, @user, card) %>" >
            <img src="<%= static_path(@conn, "/images/delete-icon-red-24x24.png") %>"/>
        </a>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
