<h2 class="card-title"><%= @card.name %></h2>
<span><%= link "Back", to: card_path(@conn, :index, @user), class: "card-back btn btn-default" %></span>

<div class="card-container">
  <div class="image-container">
    <img src="<%= @card.normal_image_uri %>">
  </div>
  <div class="info-container">
    <ul>
      <li>
        <strong>Number Owned:</strong>
        <%= @card.number_owned %>
      </li>

      <li>
        <strong>Number Wanted:</strong>
        <%= @card.number_wanted %>
      </li>

      <li>
        <strong>Colors:</strong>
        <%= @card.colors %>
      </li>

      <li>
        <strong>Type:</strong>
        <%= @card.type %>
      </li>

      <li>
        <strong>Oracle Text:</strong>
        <%= @card.oracle_text %>
      </li>

      <li>
        <strong>Flavor Text:</strong>
        <%= @card.flavor_text %>
      </li>

      <li>
        <strong>Power:</strong>
        <%= @card.power %>
      </li>

      <li>
        <strong>Toughness:</strong>
        <%= @card.toughness %>
      </li>

      <li>
        <strong>Set Name:</strong>
        <%= @card.set_name %>
      </li>

    </ul>
  </div>
</div>

<span><%= link "Edit", to: card_path(@conn, :edit, @user, @card) %></span>
